*{
    color: #DDC9B3;
}

body{
    background-color: #DDC9B3;
    display: grid;
    justify-content: center;
}

#search{
    /* grid-gap: 12px; */
    justify-items: center;
    height: 10vh;
    width: 70vw;
    margin: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "a minp maxp minr maxr"
    /* ". . . . ." */
    "r . . . b";
}

#addr-input{
    grid-area: a;
}

.min-price {
    grid-area: minp;
}

.max-price {
    grid-area: maxp;
}


.min-room {
    grid-area: minr;
}

.max-room {
    grid-area: maxr;
}

.radio-buttons {
    margin-top: 30px;
    justify-content: center;
    align-self: center;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "r1 r2";
}

#immed-y {
    margin-left: 50px;
    margin-right: 40px;
    grid-area: r1;
}

#park-y {
    grid-area: r2;
}

input{
    margin: 5px;
    padding: .5em .6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #443729;
    font-weight: bold;
    grid-area: i;
    width: 90%;
    height: 120%;
}

/* .check-group{
    
    height: 35px;
} */

button{
    grid-area: b;
    margin-top: 30px;
    background-color: #7A6C5D;
    border: none;
    color: #DDC9B3;
    text-decoration: none;
    display: grid;
    font-size: 16px;
    border: 2px solid #443729;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    height: 70%;
    justify-self: center;
}

label{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #443729;
     cursor: pointer;
} 

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}

.result{
    width: 60vw;
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
    /* grid-template-rows: (5, 1fr); */
    grid-template-areas: 
    ". la a f"
    "i lpr p f"
    "i lr r f"
    "i lpark park f"
    ". lcd cd . ";
    box-shadow: 1px 1px 3px #0a1612;
    margin: 20px;
    padding: 20px;
    margin-top: 50px;
    background-color: #443729;
    align-items: center;
    border-radius: 30px;
}

#results {
    display: grid;
    justify-items: center;
}

button:focus {outline:0;}

button:active{background-color: #443729;}

.result>img{
    max-width: 325px;
    max-height: 180px;
    grid-area: i;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: grid;
    justify-self: center;
    align-self: center;
}

.result>.label{
    font-weight: bold;
}

.result>.l-addr{
    font-family: 'Raleway', sans-serif;
    color: #DDC9B3;
    grid-area: la;
}

.result>.l-price{
    font-family: 'Raleway', sans-serif;
    color: #DDC9B3;
    grid-area: lpr;
}

.result>.l-rooms{
    font-family: 'Raleway', sans-serif;
    color: #DDC9B3;
    grid-area: lr;
}

.result>.l-park{
    font-family: 'Raleway', sans-serif;
    color: #DDC9B3;
    grid-area: lpark;
}

.result>.l-contact-details {
    font-family: 'Raleway', sans-serif;
    color: #DDC9B3;
    grid-area: lcd;
}

.result>.l-immediate{
    display: grid;
    justify-content: center;
}

.result>.address{
    grid-area: a;
}

.price{
    grid-area: p;
}

.contact-details {
    grid-area: cd;
}

.feature{
    grid-area: f;
}

.result>.rooms {
    grid-area: r;
}

.result>.parking{
    grid-area: park;
}

.result>.immediate{}


.no-match{
    display: grid;
    color: #DD6300;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    align-content: center;
    justify-content: center;
    font-size: 25px;
}

.no-parking {
    height: 15px;
    width: 15px;
}

#smiley {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #DD6300;
}


.fa-heart{
    cursor: pointer;
}

.fa-heart:active{
    color: red;
}